{% extends "analytics/base-site.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'analytics/index.css' %}">
{% endblock %}

{% block content %}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">{{ expedition.course.course_code }}</span>
        <h3 class="page-title">Expedition {{ expedition.course.course_name }}</h3>
      </div>
    </div>
    <!-- End Page Header -->
    <!-- Small Stats Blocks -->
    <div class="row">
      <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex">
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Users</span>
                <h6 class="stats-small__value count my-3">{{ users }}</h6>
              </div>
            </div>
            <canvas height="120" class="blog-overview-stats-small-1"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex">
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Active Users</span>
                <h6 class="stats-small__value count my-3">{{ active_users }}</h6>
              </div>
            </div>
            <canvas height="120" class="blog-overview-stats-small-2"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex">
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">User Finished this Expedition</span>
                <h6 class="stats-small__value count my-3">{{ finished }}</h6>
              </div>
            </div>
            <canvas height="120" class="blog-overview-stats-small-3"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex">
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Overall Complete Percentage</span>
                <h6 class="stats-small__value count my-3">{{ complete }}</h6>
              </div>
            </div>
            <canvas height="120" class="blog-overview-stats-small-4"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-12 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex">
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Overall Correct Percentage</span>
                <h6 class="stats-small__value count my-3">{{ correct }}</h6>
              </div>

            </div>
            <canvas height="120" class="blog-overview-stats-small-5"></canvas>
          </div>
        </div>
      </div>
    </div>

    {% for item in world_list %}
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">World Level {{item.section.level}}</span>
        <h3 class="page-title">{{item.section.topic}}</h3>
      </div>
    </div>

    <!-- End Small Stats Blocks -->
    <div class="row">
      <!-- Users By Device Stats -->
      <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="card card-small h-100">
          <div class="card-header border-bottom">
            <h6 class="m-0">Number of students</h6>
          </div>
          <div class="card-body d-flex py-0">
            <canvas class="m-auto" id="{{item.get_html_id_portion}}-chart"></canvas>
          </div>
          <div class="card-footer border-top">
          </div>
        </div>
      </div>
      <!-- End Users By Device Stats -->

      <!-- Users By Device Stats -->
      <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
        <div class="card card-small h-100">
          <div class="card-header border-bottom">
            <h6 class="m-0">Overall Correct Answer Percentage</h6>
          </div>
          <div class="card-body d-flex py-0">
            <canvas class="m-auto" id="{{item.get_html_id_correct}}-chart"></canvas>
          </div>
          <div class="card-footer border-top">
          </div>
        </div>
      </div>
      <!-- End Users By Device Stats -->
      
    </div>

    <div class="row">
      <div class="col">
        <div class="card card-small mb-4">
          <div class="card-header border-bottom">
            <h6 class="m-0">Question List</h6>
          </div>
          <div class="card-body p-0 pb-3 text-center tableFixHead">
            <table class="table mb-0 table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="border-0" style="width: 4%!important">#</th>
                  <th scope="col" class="border-0" style="width: 37%!important">Question</th>
                  <th scope="col" class="border-0" style="width: 8%!important">Difficulty</th>
                  <th scope="col" class="border-0" style="width: 11%!important">Option 1</th>
                  <th scope="col" class="border-0" style="width: 11%!important">Option 2</th>
                  <th scope="col" class="border-0" style="width: 11%!important">Option 3</th>
                  <th scope="col" class="border-0" style="width: 11%!important">Option 4</th>
                  <th scope="col" class="border-0" style="width: 7%!important">% of Correct Answer</th>
                </tr>
              </thead>
              <tbody>
                {% for question in item.get_questions_sorted_by_difficulty %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ question.question }}</td>
                  <td>{{ question.get_difficulty_string }}</td>
                  <td>{{ question.option1 }}</td>
                  <td>{{ question.option2 }}</td>
                  <td>{{ question.option3 }}</td>
                  <td>{{ question.option4 }}</td>
                  <td>{{ question.get_correct_percentage }}</td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {{ item.get_student_portion|json_script:item.get_html_id_portion }}
    {{ item.get_correct_percentage|json_script:item.get_html_id_correct }}

    {% endfor %}

  {{ world_id_list|json_script:"world-id-list" }}

 </div>
  


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="{% static 'analytics/js/app-blog-overview.1.1.0.js' %}"></script>

{% endblock javascripts %}
